#[isstreamer.client_config]
#access_key: example_key
#default_bucket: example_bucket
#offline_mode: false
#offline_file: ./testing_config

#[isstreamer.api_config]
#stream_api_base: https://groker-dev.initialstate.com