[client_config]
ClientKey: example_key
DefaultBucket: hello_world

[api_keys]
pkey: pub-c-92056f77-203d-467a-ba28-c5c8695effb6
skey: sub-c-1471fc40-4e27-11e4-b332-02ee2ddab7fe
channel: log_streamer_dev